{{ if lookPath "brew" -}}
#!/bin/sh

brew install nvim tmux ripgrep git-delta xclip pueue fzf

# Install fzf keybindings and fuzzy completion
$(brew --prefix)/opt/fzf/install

{{ if not (lookPath "rustup") -}}
# Install rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
{{ end -}}

{{ end -}}
